<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<configuration status="warn" monitorInterval="60" packages="com.kingdeehit.mobile.utils.logger">
	<properties>
		<property name="pattern">[%p] %-d{HH:mm:ss}[%r] [[%t]] [%X{username}] [%c{1}] %m%n
		</property>
		<property name="simplePattern">%-d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n
		</property>
	</properties>
	<appenders>
		<!--控制台输出，设置过滤器只输出warn以上级别日志  -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${simplePattern}" />			
			<ThresholdFilter level="warn" onMatch="ACCEPT"
				onMismatch="DENY" />
		</Console>
		<!--主系统日志，每日生成一个，文件名按指定格式以及路径生成，设置过滤器只输出info以上级别日志  -->
		<RollingRandomAccessFile name="daily" immediateFlush="false" fileName="d:/logs/interface-service-v3.log"
			filePattern="d:/logs/interface-service-v3.log.%d{yyyy-MM-dd}" >
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<!-- <SizeBasedTriggeringPolicy size="200 MB" /> -->
			</Policies>
		</RollingRandomAccessFile>
	</appenders>
	<loggers>
		<root level="DEBUG">
			<appender-ref ref="console" />
			<appender-ref ref="daily" />
		</root>
		<logger name="org.apache" level="error">
		</logger>
		<logger name="org.apache.struts2" level="error">
		</logger>		
		<logger name="org.hibernate" level="error">
		</logger>
		<logger name="org.springframework" level="error">
		</logger>
		<logger name="org.quartz" level="warn">
		</logger>
		<logger name="org.logicalcobwebs" level="error">
		</logger>
		<logger name="com.opensymphony.xwork2" level="error">
		</logger>
		<logger name="atomikos" level="error">
		</logger>
		<logger name="org.apache.commons.beanutils" level="error">
		</logger>
		<logger name="org.apache.axis2" level="error">
		</logger>
		<logger name="org.apache.axiom" level="error">
		</logger>
		<logger name="org.apache.cxf" level="error">
		</logger>
		<logger name="eclipse.jetty" level="error">
		</logger>
		<logger name="org.mongodb" level="error">
		</logger>
		<logger name="httpclient" level="error">
		</logger>
		<logger name="org.apache.commons.httpclient" level="info">
		</logger>
	</loggers>
</configuration>
